## Inference parameters
# path to data root
data_root: .\data
# dataset
run_name: celeba
# checkpoints
run_id:
  sgm: ./checkpoints/celeba/sgm
  glow: ./checkpoints/celeba/glow
  gan: ./checkpoints/celeba/gan
# device
device: 0
# random seed
seed: 1234
# number of images to process
num_img: 5
# keep track of images in each iteration and animate at the end
keep_track: true
# standard deviation of additive white gaussian noise
noise_stddev: 0.1
# type of corruption
corruptor: gaussian
# whether to corrupt data and use as pairs or assume data is corrupted
paired_data: true
# plot zoomed in version as well (provide coordinates here as list, (x, y, size))
zoom: null

# sample from prior distribution for comparison
show_noise_priors: false
# disable corruptor model (use regular denoising)
disable_corruptor_model: false

limit_n_samples: 100

metrics:
  - psnr
  - ssim
models:
  - bm3d
  - gan
  - glow
  - sgm

sgm:
  lambda_coeff: 0.08
  # number of noise scales (i.e. time steps in SDE)
  num_scales: 400
  sde: simple
  sigma: 25
  sampling_method: pc
  predictor: euler_maruyama
  corrector: none
  guidance: projection

glow:
  lambda_coeff: 0.4
  step_size: 0.1
  num_steps: 400
  prior: z
  optim: adam
  init_std: 0.2
  init_strat: random

gan:
  lambda_coeff: 500
  step_size: 0.1
  num_steps: 1000
  prior: z
