# NOTE: works in combinations with the installations in the Dockerfile
matplotlib
numpy
scipy
pillow
scikit-image
scikit-learn
h5py
pandas
opencv-python
schema
tqdm
pyyaml
tabulate
ipykernel
opencv-python
pydicom
wandb
bm3d
SciencePlots
cvxopt
wget
easydict
gdown
lpips
huggingface_hub

pylint
pytest